# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CHOCOLAD_DONGLE
	def_bool $(shields_list_contains,chocolad_dongle)

config SHIELD_CHOCOLAD_LEFT
	def_bool $(shields_list_contains,chocolad_left)

config SHIELD_CHOCOLAD_RIGHT
	def_bool $(shields_list_contains,chocolad_right)
