/*
 * Copyright (c) 2020 Mega Mind
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";

		input-gpios
			= <&gpioa 0 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			, <&gpioa 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			;
	};
};

